@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 600;
}

.banner {
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(2, 37, 95);
    
}

.icon1 {
    position: fixed;
    bottom: 520px;
    margin-left: -20px;
    
}
.icon2 {
    position: fixed;
    bottom: 457px;
    margin-left: 1240px;
}
.icon3 {
    position: fixed;
    top: 500px;
    margin-left: -62px;
}
.icon4 {
    position: fixed;
    bottom: -20px;
    margin-left: 1215px;
}

.logo {
    top: 25px;
    position: absolute;
    left: 42%;
}

.form-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 550px;
    left: 50%;
    height: 860px;
    width: 450px;
    transform: translate(-50%, -50%);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    overflow: visible;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: gray;
    cursor: pointer;
}

.login_redirect {
    position: absolute;
    color: white;
    top: 1030px;
    left: 42%;
    font-size: 13px;
    height: 70px;
}
/**
input {
    background-color: #edf2f7;
  padding: 12px 8px 12px 12px;
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 400;
  color: #1a202c;
  box-shadow: none;
  border: 0;
  border-radius: 5px;
  width: inherit;
  max-width: calc(380px);
  height: 48px;

  margin-top: 20px;
    margin-left: 40px;
    width: 600;
    background-color: #edf2f7;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 18px 22px
}
**/

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
}

input {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 370px;
    padding: 20px 0px 20px 15px ;
    margin-left: 35px;
    background-color: #edf2f7;
    border: none;
    border-radius: 4px;
    outline: none;
}
input::placeholder {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
label {
    margin-left: 40px;
}

#dropdown { 
    background-color: #edf2f7;
    margin-left: 40px;
    width: 380px;
    padding: 14px 0px 14px 10px;
    margin-top: 15px;
    position: absolute;
    border: none;
    border-radius: 5px;
    color: black; 
    font-size: 18px;
    overflow: scroll;
    line-height: 40px;
} 

h1 {
    color: rgb(3, 51, 128);
    text-align: center;
    margin-top: 40px;
    margin-bottom: -5px;
    font-size: 22px;
    
}
button {
    margin-top: 78px;
    background-color: rgb(12, 67, 156);
    border: none;
    text-align: center;
    font-weight: bold;
    width: 370px;
    height: 58px;
    margin-left: 40px;
    color: white;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}
button:hover {
    background-color: rgb(2, 37, 95);
    cursor: pointer;
}






