.body {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.main {
    background-color: #ADD8E6;
    background-image: url("../img/data1.png"), url("../img/data2.png"), url("../img/data3.png"), url("../img/data4.png");
    background-size: 15%, 15%, 15%, 15%;
    background-position: left -1% top -15%, right -7.5% top -1%, left -5% bottom -10%, right -5% bottom -5%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: auto;
    width: 100%;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 3rem;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formh1 {
    color: #083e9e;
    font-weight: 700;
    text-align: center;
    font-family: 'Arvo', serif;
    margin: 0;
    font-size: 1.25rem;
}

.formp {
    font-size: .875rem;
    color: #4a5568;
    font-family: 'Karla', sans-serif;
    margin: 0;
    text-align: center;
}

.form {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    flex: 1 1;
    min-height: min-content;
    margin: 0;
    margin-top: 2rem;


}

.form-block {
    background-color: white;
    border-top-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    max-width: 28rem;
    padding: 2.5rem;
    padding-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.block {
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: .75rem;
    color: #4a5568;
    margin-bottom: .25rem;
    line-height: 2;
    font-weight: 700;
    font-family: 'Arvo', serif;
}

.input {
    color: #1a202c;
    outline: none;
    background-color: #edf2f7;
    border-radius: .25rem;
    overflow: visible;
    font-size: 100%;
    padding: 1rem;
    border: 0 solid #e2e8f0;
}



.but {
    width: 100%;
    white-space: nowrap;
    color: #fff;
    padding-top: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 1rem;
    font-weight: 700;
    font-family: 'Arvo', serif;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: .75rem;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    cursor: pointer;
    background-color: rgb(8, 62, 158);
    border: none;
}

.but:hover {
    background-color: rgb(6, 43, 111);
}

.log {
    font-size: .875rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    flex-direction: row;
    white-space: nowrap;
    padding-top: .25rem;
    padding-bottom: .25rem;
    text-align: center;
    margin-top: 2rem;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.log:hover {
    color: rgb(179, 179, 179);
}

.select {
    position: relative;
    box-sizing: border-box;
    width: 98.6%;
    margin: auto;
    color: #1a202c;
    background-color: #edf2f7;
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    border: none;
    font-size: 100%;
    overflow: auto;
}

.option {
    padding: 1rem;
}

@media (max-width:500px) {
    .form-block {
        max-width: none;
        width: 70% !important;
    }
}
